# Namespace for package libamtrack
#Created by R.create.package.namespace.R script

useDynLib("libamtrack", .registration = TRUE)

export(
	"AT.add.leading.zeros",
	"AT.add.trailing.zeros",
	"AT.A.from.particle.no",
	"AT.atomic.weight.from.element.acronym",
	"AT.atomic.weight.from.Z",
	"AT.average.A.from.composition",
	"AT.average.Z.from.composition",
	"AT.beam.par.physical.to.technical",
	"AT.beam.par.technical.to.physical",
	"AT.beta.from.E",
	"AT.Bethe.mean.energy.loss.MeV",
	"AT.characteristicple.scattering.angle",
	"AT.characteristic.single.scattering.angle",
	"AT.CPPSC.alpha.and.beta",
	"AT.density.g.cm3.from.element.acronym",
	"AT.dose.Gy.from.fluence.cm2",
	"AT.dose.weighted.E.MeV.u",
	"AT.dose.weighted.LET.MeV.cm2.g",
	"AT.D.RDD.Gy",
	"AT.effective.charge.from.E.MeV.u",
	"AT.effective.collision.number",
	"AT.effective.Z.from.composition",
	"AT.E.from.beta",
	"AT.electron.density.m3.from.composition",
	"AT.electron.density.m3.from.material.no",
	"AT.electron.density.m3",
	"AT.element.acronym.from.Z",
	"AT.E.MeV.u.from.momentum.MeV.c.u",
	"AT.energy.loss.distribution",
	"AT.energy.loss.FWHM",
	"AT.energy.loss.mode",
	"AT.energy.straggling.after.slab.E.MeV.u",
	"AT.energy.straggling.MeV2.cm2.g",
	"AT.fluence.cm2.from.dose.Gy",
	"AT.fluence.weighted.E.MeV.u",
	"AT.fluence.weighted.LET.MeV.cm2.g",
	"AT.FLUKA.particle.name.to.libamtrack.particle.name",
	"AT.FLUKA.read.USRBIN.mesh",
	"AT.FLUKA.read.USRBIN.regs",
	"AT.FLUKA.read.USRTRACK",
	"AT.gamma.from.E",
	"AT.gamma.response",
	"AT.get.materials.data",
	"AT.Highland.angle",
	"AT.I.eV.from.composition",
	"AT.I.eV.from.element.acronym",
	"AT.inverse.gamma.response",
	"AT.kappa",
	"AT.lambda.from.energy.loss",
	"AT.Landau.PDF",
	"AT.material.name.from.material.no",
	"AT.material.no.from.material.name",
	"AT.max.electron.ranges.m",
	"AT.max.E.transfer.MeV",
	"AT.mean.number.of.tracks.contrib",
	"AT.Moliere.function.f0",
	"AT.Moliere.function.f1",
	"AT.Moliere.function.f2",
	"AT.momentum.MeV.c.u.from.E.MeV.u",
	"AT.nuclear.spin.from.particle.no",
	"AT.particle.name.from.particle.no",
	"AT.particle.no.from.particle.name",
	"AT.particle.no.from.Z.and.A",
	"AT.reduced.target.thickness",
	"AT.r.RDD.m",
	"AT.run.CPPSC.method",
	"AT.run.GSM.method",
	"AT.run.IGK.method",
	"AT.Rutherford.SDCS",
	"AT.scattering.angle.distribution",
	"AT.screening.angle",
	"AT.set.user.material.from.composition",
	"AT.set.user.material",
	"AT.SPC.convert.to.DDD",
	"AT.SPC.export.DEDX",
	"AT.SPC.get.list",
	"AT.SPC.get",
	"AT.SPC.interpolate",
	"AT.SPC.read",
	"AT.SPC.spectrum.at.depth.g.cm2",
	"AT.SPC.spectrum.at.depth.step",
	"AT.SPC.tapply",
	"AT.Stopping.Power.keV.um",
	"AT.Stopping.Power.MeV.cm2.g",
	"AT.stopping.power.ratio",
	"AT.total.D.Gy",
	"AT.total.fluence.cm2",
	"AT.translate.dose.into.DSB.distribution",
	"AT.Vavilov.energy.loss.distribution",
	"AT.Vavilov.PDF",
	"AT.WEPL.Bethe",
	"AT.Z.from.element.acronym",
	"AT.Z.from.particle.no"
)


